 <!doctype html>
 <html ng-app="studentRoster">
 <head>
  <title>SurveyBot</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
   <script src="controllers/StudentsController.js"></script>
   <script src="controllers/FieldTripsController.js"></script>
   <script src="controllers/PlacesController.js"></script>
   <script src="services/QuestionsFactory.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <center><h1 class="page-header">Survey Bot</h1></center>
    <div  ng-controller="StudentsCtrl">
      <div class="row">

        <div class="col-md-6">
          <h4>Name your favorite athlete:</h4>
          <form ng-submit="QuestionsFactory.addStudent()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="QuestionsFactory.studentName" class="form-control" id="student-name" placeholder="Enter name">
            </div>
            <button type="submit" class="btn btn-info btn-sm">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row" ng-controller="FieldTripsCtrl">
      <div class="col-md-6" ng-show="studentsWithoutPermission.length">
        <h3>Answers for athlete</h3>
        <ul>
          <li ng-repeat="item in studentsWithoutPermission = (students | filter:{permissionSlip: false})">
            Thank you<a ng-click="addStudentWithPermissionSlip(item)"> - show answer</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6" ng-show="studentsWithPermission.length">
        <h3>Athletes Poll Result</h3>
        <ul>
          <li ng-repeat="item in studentsWithPermission = (students | filter:{permissionSlip: true})">
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>


    <div ng-controller="PlacesCtrl">
      <div class="row">
        <div class="col-md-6">
          <h4>Name your favorite place:</h4>
          <form ng-submit="QuestionsFactory.addPlace()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="QuestionsFactory.placeName" class="form-control" id="place-name" placeholder="Enter name">
            </div>
            <button type="submit" class="btn btn-info btn-sm">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row" ng-controller="FieldTripsCtrl">
      <div class="col-md-6" ng-show="placesWithoutPermission.length">
        <h3>Answers for places</h3>
        <ul>
          <li ng-repeat="item in placesWithoutPermission = (places | filter:{permissionSlip: false})">
            Thank you<a ng-click="addPlaceWithPermissionSlip(item)"> - show answer</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6" ng-show="placesWithPermission.length">
        <h3>Places Poll Result</h3>
        <ul>
          <li ng-repeat="item in placesWithPermission = (places | filter:{permissionSlip: true})">
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>

  </div>
</body>
</html>
